.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.videoDescriptionDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    border: 1px solid inherit;
    background: rgba(61, 61, 61, 0.7);
    border-radius: 8px;
    /* #2d95b0; */
    /* rgba(41, 136, 160, 0.3); */
}

.projectDescriptionDiv {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    font-size: 14px;
}

.projectDescriptionParagraph {
    width: 500px;
    color: white;
    font-size: 15px;
    text-align: justify;
    /* text-shadow: 1px 2px black; */
    ;
}

.videoPlayerDiv {
    display: flex;
    margin: 30px 50px;
    justify-content: center;
    border: 1px dotted black;
    background: black;
    border-radius: 8px;
}

.reactPlayer {
    width: 500px;
}

.videoDescriptionDiv:hover {
    transform: scale(1.01);
    box-shadow: 5px 10px 10px 2px rgb(48, 126, 145);
    transition: all 0.3s ease;
}

.linkToWebsite {
    /* padding-bottom: 15px; */
    padding: 0 10px;
}

.linkToWebsite:hover {
    text-decoration: underline;
}

.websiteLinks {
    padding-bottom: 15px;
}

@media screen and (max-width: 480px) {
    .videoDescriptionDiv {
        width: 300px;
    }
    .videoPlayerDiv {
        /* width: 280px; */
        margin: 10px 10px;
    }
    .reactPlayer {
        width: 300px;
    }
}